.track {
  border: 5px solid black;
  height: 200px;
}

#top-track {
  background-color: rgb(80,80,80);
  border-bottom: 5px dashed yellow;
  border-right: 10px dashed white;
}

#bottom-track {
  background-color: rgb(80,80,80);
  border-top: 5px dashed yellow;
  border-right: 10px dashed white;
}

#first-grid {
  background-color: black;
}

.block1, .block2 {
    position: absolute;   
    left: 50px;
    width: 90px;
    height: 90px;
    margin: 5px;
    
  }

.block1 {
  background-color: rgb(255,201,56);

}

.block2 {
  background-color: rgb(56,201,255);
}